# 20-07-03: Daily Practice

---
---

## Daily practices

* [ ] [Practice & learn](#Practice-&-learn)
  * [x] Coding, algorithms & data structures
  * [x] Data science: access, manipulation, analysis, visualization
  * [ ] Engineering: SQL, PySpark, APIs, TDD, OOP
  * [ ] Machine learning: Scikit-learn, TensorFlow, PyTorch
  * [ ] Interview questions (out loud)
* [ ] [Meta-data: reading & writing](#Meta-data:-reading-&-writing)
  * [ ] Blog
  * [ ] Social media discussions
* [ ] [2-Hour Job Search](#2-Hour-Job-Search)
  * [ ] LAMP List
  * [ ] Online networking

---
---

## Meta-data: reading & writing

* Blog post
* Social media discussion

### Blog Post: Image Segmentation

Spent upwards of an hour working on the image segmentation blog post.

---
---

## Practice & learn

---

### Coding, algorithms & data structures

* [x] [Remove duplicates from sorted array (easy)](https://leetcode.com/problems/remove-duplicates-from-sorted-array/)
* [ ] [Permutations (medium)](https://leetcode.com/problems/permutations/)
* [ ] [Generate parantheses (medium)](https://leetcode.com/problems/generate-parentheses/)

#### [Remove duplicates from sorted array (easy)](https://leetcode.com/problems/remove-duplicates-from-sorted-array/)

* Given a sorted array nums, remove the duplicates in-place such that each element appear only once and return the new length.
* Do not allocate extra space for another array, you must do this by modifying the input array in-place with O(1) extra memory.

Example 1:

    Given nums = [1,1,2],
    Your function should return length = 2, with the first two elements of nums being 1 and 2 respectively.
    It doesn't matter what you leave beyond the returned length.

Example 2:

    Given nums = [0,0,1,1,1,2,2,3,3,4],
    Your function should return length = 5, with the first five elements of nums being modified to 0, 1, 2, 3, and 4 respectively.
    It doesn't matter what values are set beyond the returned length.

In [31]:
from typing import List

def removeDuplicates(nums: List[int]) -> int:
    if len(nums) == 0:
        return 0
    end_num = nums[-1]
    if end_num == nums[0]:
        return 1
    for i in range(1, len(nums)):
        while nums[i] == nums[i - 1]:
            nums.append(nums.pop(i - 1))
        if nums[i] == end_num:
            return i + 1

2

In [40]:
# === Test it out on various (edge) cases === #
nums1 = [1, 1, 2]
assert removeDuplicates(nums1) == 2
nums2 = [0, 0, 1, 1, 1, 2, 2, 3, 3, 4]
assert removeDuplicates(nums2) == 5
nums3 = [1, 1]
assert removeDuplicates(nums3) == 1
nums4 = [1]
assert removeDuplicates(nums4) == 1
nums5 = [1, 1, 1]
assert removeDuplicates(nums5) == 1

##### Success

* Runtime: 136 ms, faster than 19.28% of Python3 online submissions for Remove Duplicates from Sorted Array.
* Memory Usage: 15.5 MB, less than 73.68% of Python3 online submissions for Remove Duplicates from Sorted Array.

---

### Data science

* Access
* Manipulation
* Analysis
* Visualization

#### TV, Halftime Shows, Big Game

> DataCamp Project

##### Project Description

Whether or not you like football, the Super Bowl is a spectacle. There's drama in the form of blowouts, comebacks, and controversy in the games themselves. There are the ridiculously expensive ads, some hilarious, others gut-wrenching, thought-provoking, and weird. The half-time shows with the biggest musicians in the world, sometimes riding giant mechanical tigers or leaping from the roof of the stadium. And in this project, you will find out how some of the elements of this show interact with each other. You will answer questions like:

* What are the most extreme game outcomes?
* How does the game affect television viewership?
* How have viewership, TV ratings, and ad cost evolved over time?
* Who are the most prolific musicians in terms of halftime show performances?

This project gives you an opportunity to apply the skills from Intermediate Python for Data Science.

The dataset used in this project was scraped and polished from Wikipedia. It is made up of three CSV files, one with game data, one with TV data, and one with halftime musician data for all 52 Super Bowls through 2018.

> Project notebook and datasets can be found in the [20-07-03-superbowl](./20-07-03-superbowl) directory.

#### Data Manipulation

Working on a data manipulation course. To keep notes here, I'll use a dataset from the above mini-project.

In [41]:
import pandas as pd

In [42]:
tv = pd.read_csv("20-07-03-superbowls/datasets/tv.csv")
tv.head()

,super_bowl,network,avg_us_viewers,total_us_viewers,rating_household,share_household,rating_18_49,share_18_49,ad_cost
0,52,NBC,103390000,NaN,43.1,68,33.4,78.0,5000000
1,51,Fox,111319000,172000000.0,45.3,73,37.1,79.0,5000000
2,50,CBS,111864000,167000000.0,46.6,72,37.7,79.0,5000000
3,49,NBC,114442000,168000000.0,47.5,71,39.1,79.0,4500000
4,48,Fox,112191000,167000000.0,46.7,69,39.3,77.0,4000000

In [44]:
# List of networks to include
networks = ["NBC", "Fox"]
# Filter for rows containing those networks
tv_nets = tv[tv["network"].isin(networks)]
tv_nets.head()

,super_bowl,network,avg_us_viewers,total_us_viewers,rating_household,share_household,rating_18_49,share_18_49,ad_cost
0,52,NBC,103390000,NaN,43.1,68,33.4,78.0,5000000
1,51,Fox,111319000,172000000.0,45.3,73,37.1,79.0,5000000
3,49,NBC,114442000,168000000.0,47.5,71,39.1,79.0,4500000
4,48,Fox,112191000,167000000.0,46.7,69,39.3,77.0,4000000
6,46,NBC,111346000,163500000.0,47.0,71,40.5,NaN,3500000

At this point, most of it is simple review — not worth writing down.

---

### Engineering

* SQL
* PySpark
* APIs
* Test-driven development
* Object-oriented practice

#### Building a Sales Model Using SQL Techniques

> Applied SQL Analytics

In this activity, we will clean and prepare our data for analysis using SQL techniques. The data science team wants to build a new model to help predict which customers are the best prospects for remarketing. A new data scientist has joined their team and does not know the database well enough to pull a dataset for this new model. The responsibility has fallen to you to help the new data scientist prepare and build a dataset to be used to train a model. Write a query to assemble a dataset. Here are the steps to perform:

1. Open a SQL client and connect to the database.
2. Use `INNER JOIN` to join the `customers` table to the `sales` table.
3. Use `INNER JOIN` to join the `products` table to the `sales` table.
4. Use `LEFT JOIN` to join the `dealerships` table to the `sales` table.
5. Now, return all columns of the `customers` table and the `products` table.
6. Then, return the `dealership_id` column from the `sales` table, but fill in `dealership_id` in `sales` with `-1` if it is `NULL`.
7. Add a column called `high_savings` that returns `1` if the sales amount was `500` less than `base_msrp` or lower. Otherwise, it returns `0`.

2. `sales` and `customers` can be joined on the `customer_id` column

```SQL
SELECT *
FROM sales s
INNER JOIN customers c
  ON c.customer_id = s.customer_id;
```

3. `sales` and `products` can be joined on `product_id`

```SQL
SELECT *
FROM sales s
INNER JOIN products p
  ON p.product_id = s.product_id;
```

4. `sales` and `dealerships` can be joined on `dealership_id`

```SQL
SELECT *
FROM sales s
LEFT JOIN dealerships d
  ON d.dealership_id = s.dealership_id;
```

Bringing all of those together (plus the proceeding steps):

```SQL
SELECT
  c.*,
  p.*,
  COALESCE(s.dealership_id, -1),
  CASE WHEN s.sales_amount < p.base_msrp - 500 THEN 1
  ELSE 0 END as high_savings
FROM sales s
INNER JOIN customers c ON c.customer_id = s.customer_id
INNER JOIN products p ON p.product_id = s.product_id
LEFT JOIN dealerships d ON d.dealership_id = s.dealership_id;
```

---

### Machine learning

* Scikit-learn
* TensorFlow / PyTorch

---

### Interview questions

> Answer common interview questions **_out loud_**.

* Technical: DS, ML, SE
* Behavioral

---
---

## 2-Hour Job Search

* LAMP List
* Online networking