# 20-05-15: Daily Data Practice

---

### Daily Practices

* Practice with the common DS/ML tools and processes
  * HackerRank SQL or Packt SQL Data Analytics
  * Try to hit benchmark accuracies with [UCI ML datasets](https://archive.ics.uci.edu/ml/index.php)
  * Kaggle
  * Hands-on ML with sklearn, Keras, and TensorFlow
    * Read, code along, take notes
    * _test yourself on the concepts_ â€” i.e. do all the chapter exercises
  * [fast.ai course](https://course.fast.ai/)
  * Packt Workshops
* Interviewing
  * Behavioral questions and scenarios
  * Business case walk-throughs
  * Hot-seat DS-related topics for recall practice (under pressure)
* Meta Data: Review and write
  * Focus on a topic, review notes and resources, write a blog post about it
* Job sourcing
  * Networking
  * LinkedIn
  * Indeed

---

## SQL

> Work through practice problems on HackerRank and/or Packt

### 06:52 ~ 1.1 :: HackHerAnkles

Ankles, hacked. Or, HackerAnk.

> Query all columns for all American cities in CITY with populations larger than 100000.
> The CountryCode for America is USA.

```SQL
SELECT * FROM CITY
WHERE COUNTRYCODE = "USA"
AND POPULATION > 100000;
```

> Query name for American cities with population larger than 120000.

```SQL
SELECT NAME FROM CITY
WHERE COUNTRYCODE = "USA"
AND POPULATION > 120000;
```

> Query all columns for city with ID 1661.

```SQL
SELECT * FROM CITY
WHERE ID = 1661;
```

And so on...I'll only put more difficult ones in my journal from now on.

> Query a list of CITY names from STATION with even ID numbers only. Print the result in
> any order, but duplicates must be excluded.

```SQL
SELECT DISTINCT(CITY) FROM STATION
WHERE ID % 2 = 0;
```

And I earned my very first star! Fancy that. Now it's time for some applied SQL analytics.

### 07:17 ~ 1.2 :: PackToBrim

I couldn't find where I imported the sqlda database last time, so I just created a new
database and imported it again.

    $ Tobias=# CREATE DATABASE sqlda;
    $ psql sqlda < data/data.dump

Sweet.

#### 07:50 ~ 1.2.1 :: Activity 1.03

> Write a query that pulls all emails for customers in Florida in alphabetical order

```SQL
SELECT email FROM customers
WHERE state = 'FL'
ORDER BY email ASC;
```

> Write a query that pulls all first names and email details for customers in New York
> City, ordered alphabetically, with last name followed by first name.

```SQL
SELECT last_name, first_name, email
FROM customers
WHERE city = 'New York City'
AND state = 'NY';
```

> Write a query that returns all the customers with a phone number ordered by the date
> that the customer was added.

```SQL
SELECT *
FROM customers
WHERE phone IS NOT NULL
ORDER BY date_added ASC;
```

#### 08:01 ~ 1.2.2 :: Creating Tables

> Create a table called `countries` with four columns:
> integer key column
> unique name column
> founding year column
> capital column

```SQL
CREATE TABLE countries (
	key INT PRIMARY KEY,
	name text UNIQUE,
	year_founded INT,
	capital text
);
```

And that's about all I wrote for this part of the day. Actually...I'm going to finish
the first chapter. There's only a few more sections to go.

#### 08:08 ~ 1.2.3 :: Create tables with SELECT

Create a table based on the selected data from another table.

```SQL
CREATE TABLE products_2014 AS (
	SELECT *
	FROM products
	WHERE year = 2014
);
```

> Adding and removing columns

```SQL
ALTER TABLE products
ADD COLUMN weight INT;
```

```SQL
ALTER TABLE products
DROP COLUMN weight;
```

> Insert data into table using select from other table

```SQL
INSERT INTO products 2014(product_id, model, year, product_type, base_msrp, production_start_date, production_end_date)
SELECT *
FROM products
WHERE year=2014;
```

Update existing rows with UPDATE + SET (+ WHERE)

> Update price of `Model Chi` by 10%

```SQL
UPDATE products
SET base_msrp = base_msrp * 1.10
WHERE model = 'Model Chi'
and year = 2019;
```

Delete rows from a table using `DELETE FROM`. All the data from the table can be removed
with `TRUNCATE TABLE` as well. To delete a table, use `DROP TABLE`.

```SQL
DROP TABLE state_populations;
```

#### 08:21 ~ 1.2.4 :: Activity 1.04: Create and modify tables for mkting

> Create new table called customers_nyc that pulls all rows from customer table where
> the customer lives in New York City.

```SQL
CREATE TABLE customers_nyc AS (
	SELECT *
	FROM customers
	WHERE city = 'New York City'
	AND state = 'NY'
);
```

> Delete all customers in postal code 10014 from new table

```SQL
DELETE FROM customers_nyc
WHERE postal_code = '10014';
```

> Add a new text column

```SQL
ALTER TABLE customers_nyc
ADD COLUMN event text;
```

> Set value of event column to `thank-you party`

```SQL
UPDATE customers_nyc
SET event = 'thank-you party';
```

> Delete the customers_nyc table

```SQL
DROP TABLE customers_nyc;
```

#### 08:33 ~ 1.2.5 :: Quizzler

It's quiz time!

Correct sequence of the basic anatomy of a SELECT query:

    Operation > Data > Conditional > Grouping > Post-processing

100%, baby! Done with Chapter 1.

---

### DS + ML Practice

* Pick a dataset and try to do X with it
  * Try to hit benchmark accuracies with [UCI ML datasets](https://archive.ics.uci.edu/ml/index.php)
  * Kaggle
* Practice with the common DS/ML tools and processes
  * Hands-on ML with sklearn, Keras, and TensorFlow
  * Machine learning flashcards

#### _The goal is to be comfortable explaining the entire process._

* Data access / sourcing, cleaning
  * SQL
  * Pandas
  * Exploratory data analysis
  * Data wrangling techniques and processes
* Inference
  * Statistics
  * Probability
  * Visualization
* Modeling
  * Implement + justify choice of model / algorithm
  * Track performance + justify choice of metrics
    * Communicate results as relevant to the goal

---

### Writing

> Focus on a topic or project, learn/review the concepts, and write a blog post about it

---

### Interviewing

> Practice answering the most common interview questions

Technical

* Business case walk-throughs
* Hot-seat DS-related topics for recall practice (under pressure)

Behavioral

* "Tell me a bit about yourself"
* "Tell me about a project you've worked on and are proud of"
* "What do you know about our company?"
* "Where do you see yourself in 3-5 years?"
* "Why do you want to work here / want this job?"
* "What makes you most qualified for this role?"
* "What is your greatest strength/weakness?"
  * "What is your greatest technical strength?"
* "Tell me about a time when you had conflict with someone and how you handled it"
* "Tell me about a mistake you made and how you handled it"
* "Do you have any questions for me?"
  * What is your favorite aspect of working here?
  * What has your journey looked like at the company?
  * What are some challenges you face in your position?
* Scenario questions (STAR: situation, task, action, result)
  * Success story / biggest accomplishment
  * Greatest challenge (overcome)
  * Persuaded someone who did not agree with you
  * Dealt with and resolved a conflict (among team members)
  * Led a team / showed leadership skills or aptitude
  * How you've dealt with stress / stressful situations
  * Most difficult problem encountered in previous job; how you solved it
  * Solved a problem creatively
  * Exceeded expectations to get a job done
  * Showed initiative
  * Something that's not on your resume
  * Example of important goal you set and how you reached it
  * A time you failed

---

### Job sourcing

> Browse LinkedIn, Indeed, and connections for promising leads