# 20-06-10: Daily Data Practice

---

## Daily Practices

* Practice with DS/ML tools and processes
  * [fast.ai course](https://course.fast.ai/)
  * HackerRank SQL or Packt SQL Data Analytics
  * Hands-on ML | NLP In Action | Dive Into Deep Learning
    * Read, code along, take notes
    * _test yourself on the concepts_ â€” i.e. do all the chapter exercises
  * Try to hit benchmark accuracies with [UCI ML datasets](https://archive.ics.uci.edu/ml/index.php) or Kaggle
* Meta Data: Review and write
  * Focus on a topic, review notes and resources, write a blog post about it
* 2-Hour Job Search
* Interviewing
  * Behavioral questions and scenarios
  * Business case walk-throughs
  * Hot-seat DS-related topics for recall practice (under pressure)

---

## Journal

* Found a good [Quora answer](https://www.quora.com/What-is-the-best-site-for-preparing-data-science-interview?share=1) on resources for prepping for ds interviews.
* 12:30 - 13:10 :: HackerRank problem solving practice
  * Completed a few of the easier ones (not included below)
  * Didn't quite finish the diagonal difference problem (below)
* 13:50 - 14:30 :: Website update work
  * Building a temporary local database before the changes
  * Testing out how the changes affect the existing data

---

## Coding

> Work through practice problems on HackerRank or similar

### Python

[Diagonal difference](https://www.hackerrank.com/challenges/diagonal-difference/problem)

Given a square matrix, calculate the absolute difference between the sums of its diagonals.

In [8]:
# Complete the 'diagonalDifference' function below.
# The function is expected to return an INTEGER.
# The function accepts 2D_INTEGER_ARRAY arr as parameter.

def diagonalDifference(arr):
    # First thing to do is to get the sums of the main diagonal...or is it?
    # One question to answer is whether I can simply subtract the values as I go
    # i.e. for the first row, subtract the first value from the last
    # And get the same result as finding the sums of the diagonals first

    # Ideally, I'd loop through the rows only once, getting both values with each step
    # Though a potentially easier way would be to loop twice:
    # Once forward and once backward
    
    # Get sum of main diagonal
    main_sum = 0
    for i in range(len(arr)):
        main_sum += arr[i][i]
    # Get sum of other diagonal
    other_sum = 0
    for j in range(len(arr)-1, -1, -1):
        for i in range(len(arr)):
            other_sum += arr[i][j]
        
    subtotal = main_sum + other_sum
    if subtotal < 0:
        subtotal *= -1
    
    return subtotal

In [9]:
# === Test it out === #
arr1 = [
    [11, 2, 4],
    [4, 5, 6],
    [10, 8, -12],
]

diagonalDifference(arr1)

42

### SQL

---

## Development

Worked on tobias.fyi.

* Fixed list styling
* Added TableBlock and dataframe block to display data
* Cleaned up title/caption situation on ImageBlock and CodeBlock
* Added small block quote block

In [15]:
# === Test out dataframe export === #
import pandas as pd

df = pd.read_csv("../../data/crx.data", header=None)
df = df.drop(columns=[2, 4, 5, 6, 7, 8, 9, 10, 14])
print(df.shape)
df.head()

(690, 7)

  0      1  3  11 12     13 15
0  b  30.83  u  f  g  00202  +
1  a  58.67  u  f  g  00043  +
2  a  24.50  u  f  g  00280  +
3  b  27.83  u  t  g  00100  +
4  b  20.17  u  f  s  00120  +

In [21]:
# === Export to html to be used in dataframe block === #
df[:16].to_html("assets/test_df.html", show_dimensions=True)

---

## Writing

> Focus on a topic or project, learn/review the concepts, and write a blog post about it

---

## DS + ML Practice

* Pick a dataset and try to do X with it
  * Try to hit benchmark accuracies with [UCI ML datasets](https://archive.ics.uci.edu/ml/index.php) or Kaggle
* Practice with the common DS/ML tools and processes
  * Hands-on ML | NLP In Action | Dive Into Deep Learning
  * Machine learning flashcards

#### _The goal is to be comfortable explaining the entire process._

* Data access / sourcing, cleaning
  * SQL
  * Pandas
  * Exploratory data analysis
  * Data wrangling techniques and processes
* Inference
  * Statistics
  * Probability
  * Visualization
* Modeling
  * Implement + justify choice of model / algorithm
  * Track performance + justify choice of metrics
    * Communicate results as relevant to the goal

---

## Interviewing

> Practice answering the most common interview questions

Technical

* Business case walk-throughs
* Hot-seat DS-related topics for recall practice (under pressure)

Behavioral

* "Tell me a bit about yourself"
* "Tell me about a project you've worked on and are proud of"
* "What do you know about our company?"
* "Where do you see yourself in 3-5 years?"
* "Why do you want to work here / want this job?"
* "What makes you most qualified for this role?"
* "What is your greatest strength/weakness?"
  * "What is your greatest technical strength?"
* "Tell me about a time when you had conflict with someone and how you handled it"
* "Tell me about a mistake you made and how you handled it"
* "Do you have any questions for me?"
  * What is your favorite aspect of working here?
  * What has your journey looked like at the company?
  * What are some challenges you face in your position?
* Scenario questions (STAR: situation, task, action, result)
  * Success story / biggest accomplishment
  * Greatest challenge (overcome)
  * Persuaded someone who did not agree with you
  * Dealt with and resolved a conflict (among team members)
  * Led a team / showed leadership skills or aptitude
  * How you've dealt with stress / stressful situations
  * Most difficult problem encountered in previous job; how you solved it
  * Solved a problem creatively
  * Exceeded expectations to get a job done
  * Showed initiative
  * Something that's not on your resume
  * Example of important goal you set and how you reached it
  * A time you failed

---

## Job sourcing

> Browse LinkedIn, Indeed, and connections for promising leads