# 20-06-26: Daily Practice

---

## Daily Practices

* [ ] Practice with DS/ML tools and processes
* [ ] Coding & Problem Solving Practice
* [ ] Meta Data: Review and write
* [ ] 2-Hour Job Search
* [ ] Interviewing

---

## Coding & Problem Solving Practice

> Work through practice problems on HackerRank or similar

### Python

#### [Designer PDF Viewer](https://www.hackerrank.com/challenges/designer-pdf-viewer/problem)

When you select a contiguous block of text in a PDF viewer, the selection is highlighted with a blue rectangle. In this PDF viewer, each word is highlighted independently.

In this challenge, you will be given a list of letter heights in the alphabet and a string. Using the letter heights given, determine the area of the rectangle highlight in $mm^2$ assuming all letters are $1mm$ wide.

##### Input Format

The first line contains 26 space-separated integers describing the respective heights of each consecutive lowercase English letter, `ascii[a-z]`.
The second line contains a single word, consisting of lowercase English alphabetic letters.

Sample Input

    1 3 1 3 1 4 1 3 2 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
    abc

Sample Output

    9

In [13]:
def designerPdfViewer(h, word):
    # Create dict with letter-height lookup
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    letter_heights = {}
    for i in range(26):
        # Letter as key, height as value
        letter_heights[alphabet[i]] = int(h[i])
    # Find tallest letter in word
    tallest = 0
    for l in word:
        if letter_heights[l] > tallest:
            tallest = letter_heights[l]
    # Calculate area
    return len(word) * tallest

In [14]:
# === Test it out === #
heights = [1, 3, 1, 3, 1, 4, 1, 3, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
designerPdfViewer(heights, "abc")

9

#### [Utopian Tree](https://www.hackerrank.com/challenges/utopian-tree/problem)

For next time.

### SQL

Applied SQL Analytics workshop on Packt.

#### The COALESCE Function

Replace `NULL` values with a standard value. Goes through provided list of columns and scalar values, filling any nulls in the former with the latter.

Get a list of the first names, last names, and phone numbers of all male customers. For those customers with no phone number, instead write the value of 'NO PHONE'.

```sql
SELECT first_name,
last_name,
COALESCE(phone, 'NO PHONE') as phone
FROM customers
ORDER BY 1;
```

#### The NULLIF Function

Two-value function (like COALESCE) that returns `NULL` if the first value equals the second value.

This example removes the title "Honorable" from those that have it.

```sql
SELECT customer_id,
  NULLIF(title, 'Honorable') as title,
  first_name,
  last_name,
  suffix,
  email,
  gender,
  ip_address,
  phone,
  street_address,
  city,
  state,
  postal_code,
  latitude,
  longitude,
  date_added
FROM customers c
ORDER BY 1;
```

#### The LEAST/GREATEST Functions

Takes any number of values and returns the least/greatest of the values. For example, replacing a value if it's too high or low.

```sql
SELECT product_id,
  model,
  year,
  product_type,
  LEAST(600.00, base_msrp) as base_msrp,
  production_start_date,
  production_end_date
FROM products
WHERE product_type='scooter'
ORDER BY 1;
```

#### The Casting Function

Change the data type of a column within a query using the `column::datatype` syntax.

```sql
SELECT product_id,
  model,
  year::TEXT,
  product_type,
  base_msrp,
  production_start_date,
  production_end_date
FROM products;
```

#### The DISTINCT and DISTINCT ON Functions

I already have a pretty good grasp of distinct, though I don't think I knew that it can be used on multiple columns to get all of the distinct column combinations.

```sql
SELECT DISTINCT year, product_type
FROM products
ORDER BY 1, 2;
```

The related keyword `DISTINCT ON` ensures that only one row is returned and one or more columns are always unique in the set.

This example selects salespeople with unique first names, and if there are two identical first names, the one who was hired first will be returned.

```sql
SELECT DISTINCT ON (first_name)
*
FROM salespeople
ORDER BY first_name, hire_date;
```

---

## DS + ML Practice

### Likewise

Successfully trained a small collaborative filtering model using fastai.collab. Spent a while learning how to use it to generate predictions.

---

## Meta Data: Review and Write

> Focus on a topic or project, learn/review the concepts, write (a blog post) about it

---

## 2-Hour Job Search

---

## Interviewing

> Practice answering the most common behavioral and technical interview questions

### Technical

* Business case walk-throughs
* Hot-seat DS-related topics for recall practice (under pressure)

### Behavioral

* "Tell me a bit about yourself"
* "Tell me about a project you've worked on and are proud of"
* "What do you know about our company?"
* "Where do you see yourself in 3-5 years?"
* "Why do you want to work here / want this job?"
* "What makes you most qualified for this role?"
* "What is your greatest strength/weakness?"
  * "What is your greatest technical strength?"
* "Tell me about a time when you had conflict with someone and how you handled it"
* "Tell me about a mistake you made and how you handled it"
* Scenario questions (STAR: situation, task, action, result)
  * Success story / biggest accomplishment
  * Greatest challenge (overcome)
  * Persuaded someone who did not agree with you
  * Dealt with and resolved a conflict (among team members)
  * Led a team / showed leadership skills or aptitude
  * How you've dealt with stress / stressful situations
  * Most difficult problem encountered in previous job; how you solved it
  * Solved a problem creatively
  * Exceeded expectations to get a job done
  * Showed initiative
  * Something that's not on your resume
  * Example of important goal you set and how you reached it
  * A time you failed
* "Do you have any questions for me?"
  * What is your favorite aspect of working here?
  * What has your journey looked like at the company?
  * What are some challenges you face in your position?