# Lesson 2: Gradient Descent

---

## The Math

### Example code

In [ ]:
# Defining the sigmoid function for activations
def sigmoid(x):
    return 1/(1+np.exp(-x))

# Derivative of the sigmoid function
def sigmoid_prime(x):
    return sigmoid(x) * (1 - sigmoid(x))

# Input data
x = np.array([0.1, 0.3])
# Target
y = 0.2
# Input to output weights
weights = np.array([-0.8, 0.5])

# The learning rate, eta in the weight step equation
learnrate = 0.5

# the linear combination performed by the node (h in f(h) and f'(h))
h = x[0]*weights[0] + x[1]*weights[1]
# or h = np.dot(x, weights)

# The neural network output (y-hat)
nn_output = sigmoid(h)

# output error (y - y-hat)
error = y - nn_output

# output gradient (f'(h))
output_grad = sigmoid_prime(h)

# error term (lowercase delta)
error_term = error * output_grad

# Gradient descent step 
del_w = [ learnrate * error_term * x[0],
          learnrate * error_term * x[1]]
# or del_w = learnrate * error_term * x

### Quiz

In [6]:
import numpy as np

def sigmoid(x):
    """Calculate sigmoid"""
    return 1/(1+np.exp(-x))

def sigmoid_prime(x):
    """Derivative of the sigmoid function"""
    return sigmoid(x) * (1 - sigmoid(x))

learnrate = 0.5
x = np.array([1, 2, 3, 4])
y = np.array(0.5)

# Initial weights
w = np.array([0.5, -0.5, 0.3, 0.1])

### Calculate one gradient descent step for each weight
### Note: Some steps have been consolidated, so there are
###       fewer variable names than in the above sample code

# TODO: Calculate the node's linear combination of inputs and weights
h_list = [x*w for x, w in zip(x, w)]
h = sum(h_list)

print(h_list)
print(h)

[0.5, -1.0, 0.8999999999999999, 0.4]
0.7999999999999999

In [7]:
# A little more concise...
np.dot(x, w)

0.7999999999999999

In [8]:
# TODO: Calculate output of neural network
nn_output = sigmoid(h)
nn_output

0.6899744811276125

In [9]:
# TODO: Calculate error of neural network
error = y - nn_output
error

-0.1899744811276125

In [10]:
# TODO: Calculate the error term
#       Remember, this requires the output gradient, which we haven't
#       specifically added a variable for.
output_grad = sigmoid_prime(h)
error_term = error * output_grad
error_term

-0.04063738360460799

In [11]:
# TODO: Calculate change in weights
del_w = [learnrate * error_term * xi for xi in x]

print('Neural Network output:')
print(nn_output)
print('Amount of Error:')
print(error)
print('Change in Weights:')
print(del_w)

Neural Network output:
0.6899744811276125
Amount of Error:
-0.1899744811276125
Change in Weights:
[-0.020318691802303994, -0.04063738360460799, -0.06095607540691198, -0.08127476720921598]

In [12]:
x

array([1, 2, 3, 4])

---

## Apply to dataset

In [13]:
import numpy as np
import pandas as pd

In [14]:
# === Load and view === #
datapath = "../intro-neural-networks/student-admissions/student_data.csv"
df1 = pd.read_csv(datapath)
df1.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [17]:
# === One-hot encode rank === #
df2 = pd.get_dummies(df1, columns=["rank"])
df2.head(2)

   admit  gre   gpa  rank_1  rank_2  rank_3  rank_4
0      0  380  3.61       0       0       1       0
1      1  660  3.67       0       0       1       0

In [18]:
# === Normalize gre and gpa === #
df2["gre"] = df2["gre"] / 800
df2["gpa"] = df2["gpa"] / 4
df2.head(2)

   admit    gre     gpa  rank_1  rank_2  rank_3  rank_4
0      0  0.475  0.9025       0       0       1       0
1      1  0.825  0.9175       0       0       1       0